span.term a {
  font-size: 21px;
  color: #1eabf2;
  margin: 0 12px;
}

span.term a:hover {
  -moz-transition: all linear 0.2s;
  transition: all linear 0.2s;
  color: #000;
  text-decoration: underline;
}

.post-time {
    margin: 12px 0;
}
