{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div id="hero" class="wrap">
  <h1>{{.Title }}</h1>
    <p>{{.Params.description}}</p>
</div>
<ul id="posts">

 <div class="terms">
  {{ $data := .Data }}
  {{ range $key, $value := .Data.Terms }}

    <span class="term">
      <a href="{{ $key | urlize }}" class="term">
        <span class="term-title">{{ $key }}&nbsp;({{ len $value }}) </span>
      </a>
    </span>
  {{ end }}
</div>

</ul>
{{ end }}
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
