  <footer id="footer">
    <nav>
      <ul>
        <li><span><a href="https://github.com/jeblister/kube">Kube Theme</a></span></li>
      </ul>
    </nav>
    <p>Site &copy; 2019 Scott Emmons
    <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons 4.0 Attribution License</a>.
    Kube theme is <a href="https://raw.githubusercontent.com/jeblister/kube/master/LICENSE.md">MIT licensed</a>.</p>
  </footer>
