{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
  </div>

<h2>Recent content</h2>
<div id="components">
  <div class="row gutters">
    {{ $paginator := .Paginate (.Pages.ByPublishDate.Reverse) }}
    {{ range $paginator.Pages }}
    <div class="col col-4 item">
      <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
      <p>{{ .Params.description }}</p>
      <div class="post-time">
        <time class="post-time">{{ partial "post/meta" . }}</time>
      </div>
      <p>
       Categories:
       {{ range .Params.categories }}
         <a href="/categories/{{ . }}">{{ . }}</a>
       {{ end }}
      </p>
    </div>
    {{ end }}
  </div>
</div>

{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
